<div class="feed" ng-controller="getLikeController">
    
    <div class="container min-vh-100">
        <div class="row align-center">
            <div class="col-3 sidebar-first">
                <div ng-include="'views/sidebarLeft.html'"> </div>
            </div>

            <div class="col-6 main-bar" style="display: flexbox;">
                <!-- POST BOX -->
                <div style="margin: 0.5em; border: 2px solid red; padding: 1em; background-color: orange; border-radius: 1.5em;">
                    <form class="textBox" name="feedForm" novalidate>
                        <textarea class="form-control textArea" id="likeUserName" placeholder="Enter user name" ng-model="userName" rows="1"required>                           
                        </textarea>
                        
                        <div class="row text-end" style="width: 100%; margin-left: 0.5rem; margin-right: 1rem">
                        
                            <!-- <div class="col-6"></div> -->
                            <div class="col text-end pt-3">
                                <button type="button" class="col-2 btn btn-danger" ng-click="userName = ''">
                                    Clear
                                </button>
                                <button type="button" class="col-2 btn btn-info" ng-click="getPostsLikedByUser(userName)">                        
                                    Search                            
                                </button>
                            </div>
                        </div>
                      </form>      
                </div>
                <br style="height: 25%;">
                <!-- POST FEED -->
                <div class="h2">
                    <span>&nbsp; &nbsp; All Posts Liked by the User - &nbsp; <strong>{{userName}}</strong> : </span>
                </div>
                <div>
                    <ul class="hide" ng-repeat="post in userLikedfeed track by post.id">
                        <li >
                            <post-card post="post">  </post-card>
                        </li>
                    </ul>
                </div>

                <br><br>
                <div name="zeroPostsCard" class="container text-center" ng-show="zeroPost">
                    <div class="row justify-content-center">
                            <div class="col-1 align-items-end">
                                <img src="img/sadImg.jpeg" class="img-thumbnail"  alt="sentiment_very_dissatisfied">
                               
                            </div>
                        <div class="col-5">
                            <span style="font-size: 2em;">WOW.. Such empty !!</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-3 sidebar-second">
                <div ng-include="'views/sidebarRight.html'"> </div>
            </div>
        </div>
    </div>      
   


</div>