<div class="feed" ng-controller="getLikeController">
    
    <div class="container min-vh-100">
        <div class="row align-center">
            <div class="col-3 sidebar-first">
                <div ng-include="'views/sidebarLeft.html'"> </div>
            </div>

            <div class="col-6 main-bar container">

                <div class="first-card post-form">
                    <form class="textBox" name="feedForm" novalidate>
                        <textarea class="form-control textArea" id="likeUserName" placeholder="Enter user name" ng-model="userName" rows="1"required>                           
                        </textarea>
                        
                        <div class="row mx-2" style="width: 100%;">                        
                            <!-- <div class="col-6"></div> -->
                            <div class="col text-end">
                                <button type="button" class="col" ng-click="userName = ''">
                                    Clear
                                </button>
                                <button type="button" class="col" ng-click="getPostsLikedByUser(userName)">                        
                                    Search                            
                                </button>
                            </div>
                        </div>
                    </form>      
                </div>
                <br style="height: 25%;">
                <!-- POST FEED -->
                <div class="h2">
                    <span style="font-family: 'Gluten', cursive;">&nbsp; &nbsp; All Posts Liked by the User - &nbsp; <strong>{{userName}}</strong> : </span>
                </div>
                <div>
                    <ul class="hide" ng-repeat="post in userLikedfeed track by post.id">
                        <li >
                            <post-card post="post">  </post-card>
                        </li>
                    </ul>
                </div>
                <br>
                <div name="zeroPostsCard" class="container text-center" ng-show="zeroPost">
                    <div class="row justify-content-center">
                        <div class="col-5">
                            <span style="font-size: 2em;">WOW.. Such empty !!</span>
                        </div>
                        <div class="col align-items-end">
                            <img src="img/sadImg.jpeg" alt="sentiment_very_dissatisfied">                            
                        </div>                        
                    </div>

                </div>
            </div>

            <div class="col-3 sidebar-second">
                <div ng-include="'views/sidebarRight.html'"> </div>
            </div>
        </div>
    </div>      
   


</div>