<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme='dark' style="background-color: #BC4B51 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" padding="2" href="#">
        <img src="https://www.google.com/u/0/ac/images/logo.gif?uid=106693788985496355282&service=google_gsuite" alt="Digii" width="55" height="30" class="d-inline-block align-text-top">
        Media Feed Application 
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#/feed">Feed Page</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Data
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#/post">Posts from User</a></li>
              <li><a class="dropdown-item" href="#/like">Likes from User</a></li>
            </ul>
          </li>
        </ul>

        In case we chooose to use search bar 
         <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> 
      </div>
    </div>
</nav> -->

<div style="margin: 0 auto;">
  <nav>
    <ul class="navBar">
      <li class="navItem">
        <a href="#">
          <img src="https://www.google.com/u/0/ac/images/logo.gif?uid=106693788985496355282&service=google_gsuite" alt="Digii" width="55" height="30" class="d-inline-block align-text-top">
          <!-- Media Feed Application -->
        </a>
      </li>

      <li class="navItem">
        <a href="#/feed">Feed Page</a>
      </li>

      <li class="navItem">
        <a href="#/feed">Data</a>

        <ul class="navBar">
          <li class="navItem">
            <a href="#/posts">Posts from User</a>
          </li>

          <li class="navItem">
            <a href="#/questions">Questions from User</a>
          </li>

          <li class="navItem">
            <a href="#/likes">Likes of User</a>
          </li>
        </ul>
      </li>

      <li class="navItem">
        <div class="navSearch">
          <form role="search">
            <input type="search" placeholder="Search" aria-label="Search">
            <button type="submit"> Search</button>
          </form>
        </div>        
      </li>

    </ul>

    
  </nav>
</div>