<div ng-controller="sideBarController" ng-init="init()">
    <div class="col">
        <!-- My Card -->

            <div class="row first-card m-0 px-0">
                <div class="col p-0">
                    <div class="single_advisor_profile m-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <!-- Team Thumb-->
                    <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                        <!-- Social Info-->
                        <div class="social-info">
                            <a href="https://www.linkedin.com/in/akhil-kumar2712/" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>

                            <a href="https://twitter.com/AkhilK9281" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="https://www.instagram.com/akhil_9281/" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>                                    
                        </div>
                    </div>
                    <!-- Team Details-->
                    <div class="single_advisor_details_info">
                        <h6>Akhil Kumar</h6>
                        <p class="designation">Product Engineer Intern</p>
                    </div>
                    </div>
                </div>
            </div>
 
            <!-- <div class="row">
                <br>
            </div> -->

            <div class="row" style="padding-top: 0.5rem; padding-bottom: 0.5rem"> <!-- Post CARD -->
                <div class="Card" style="padding: 0;">
                    <div style="padding: 1rem;">
                        <span style="padding-bottom: 0.5rem; display: inline-flex;"> &nbsp;Most Liked Post !!</span>

                        <post-card post="mostLikedPost"> </post-card>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 0.5rem; padding-bottom: 0.5rem"> <!-- Post CARD -->
                <div class="Card" style="padding: 0;">
                    <div style="padding: 1rem;">
                        <span style="padding-bottom: 0.5rem; display: inline-flex;"> &nbsp;Most Discussed Question !!</span>
                        
                        <post-card post="mostDiscussedQuestion"> </post-card>
                    </div>
                </div>
            </div>
                    
        </div>
</div>