<div ng-controller="sideBarController" ng-init="init()">
    <div class="row first-card" style="margin-left: 0; margin-right: 0;">
        <div class="quoteBox">
            <div>
                <!-- <div>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div> -->
                <blockquote class="quote">
                    <p class="quoteText"> {{quote.content}} </p>
                    <footer class="quoteAuthor"> <cite> - {{quote.author}}</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>