<div class="row card container" style="margin: 0; padding: 0; border-left: 0; border-right: 0;">
    <div class="col">
        
        <div class="row commentCard">
            <div class="commentHeader container-space-between">
                <div class="commentUser">
                    <!-- <div class="col-6 postUser d-flex align-items-baseline"> -->
                        <span class="material-symbols-outlined">
                                account_box 
                        </span>
                        <i> {{comment.createdBy}} </i>
                    <!-- </div> -->
                </div>

                <div class="navItem" >
                    <div class="dots">
                        <span class="material-symbols-outlined">
                            more_horiz
                        </span>
                        <ul class="navBar">
                            <li class="navItem">
                                <div style="padding: 6px;" ng-click="edit()">
                                    Edit
                                </div>
                            </li>

                            <li class="navItem">
                                <div style="padding: 6px;" ng-click="delete()">
                                    Delete
                                </div>
                            </li>
                        </ul>
                    </div>                        
                </div>  
            </div>
            <div class="commentBody">
                <p id="content" class="card-text">
                    {{comment["body"]}}
                </p>
            </div>
            <!-- <div class="commentFooter container">
                <div class="d-flex justify-content-around" >
                    <div class="col" style="margin: 0;">                     
                        <button class="btn btn-outline-primary" type="button" id="editButton" ng-click="showEditForm = !showEditForm;">
                            Edit
                        </button>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-3">   
                        <div class="row align-end">             
                            <button class="btn btn-danger" ng-click="deleteComment()">
                                Delete
                            </button>
                        </div>  
                    </div>
                </div>
            </div> -->
        </div>

        <div class="row" id="commentsFeed" ng-show="showEditForm">
            <div class="bg-info-subtle">
                <form class="textBox" name="editForm" novalidate>
                    
                    <input style="margin-left: 10px;" type="text" readonly class="form-control-plaintext" id="staticUserName" value={{comment.createdBy}}>
                    
                    <textarea class="form-control textArea" id="commentData" rows="3" placeholder={{comment.body}} ng-model="editCommentData" required>                            
                    </textarea>

                    <div class="row justify-content-flex-end">
                        <div class="col">
                            <button type="button" class="col btn btn-danger" ng-click="; editCommentData = '';">
                                Cancel
                            </button>
                            <button type="button" class="col btn btn-warning" ng-click="updateComment(editCommentData)">                        
                                EditPost                           
                            </button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>

    </div>

</div>