<div class="row card border-warning container" style="margin: 0; padding: 0; border-left: 0; border-right: 0;">
    <div class="col">
        
        <div class="row">
            <div class="card-header container-space-between">
                <div class="row">
                    <div class="col-6 postUser">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-rolodex" viewBox="0 0 16 16">
                            <path d="M8 9.05a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                            <path d="M1 1a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h.5a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 1 1 0 .5.5 0 0 0 .5.5h.5a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H6.707L6 1.293A1 1 0 0 0 5.293 1H1Zm0 1h4.293L6 2.707A1 1 0 0 0 6.707 3H15v10h-.085a1.5 1.5 0 0 0-2.4-.63C11.885 11.223 10.554 10 8 10c-2.555 0-3.886 1.224-4.514 2.37a1.5 1.5 0 0 0-2.4.63H1V2Z"/>
                          </svg> &nbsp;&nbsp; {{comment.createdBy}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p id="content" class="card-text">
                    &nbsp;&nbsp;{{comment["body"]}}
                </p>
            </div>
            <div class="card-footer container">
                <div class="d-flex gap-2" style="margin: 0;">
                    <div class="col">
                        
                        <button class="btn btn-outline-primary" type="button" id="editButton" ng-click="showEditForm = !showEditForm;">
                            Edit
                        </button>

                    </div>
                    <div class="col-6"></div>
                    <div class="align-end"> <!-- delete BUTTON -->                    
                        <button class="btn btn-danger" ng-click="delete()">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="commentsFeed" ng-show="showEditForm">
            <div >
                <form class="textBox" name="editForm" novalidate>
                    <textarea class="form-control textArea" id="commentUserName" placeholder= {{comment.userName}} ng-model="editComment.userName" rows="1"required>                           
                    </textarea>
                    
                    <textarea class="form-control textArea" id="commentData" rows="3" placeholder={{comment.body}} ng-model="editComment.commentData" required>                            
                    </textarea>

                    <!-- <div class="row" style="width: 100%; margin: 0.5rem">
                        
                        <div class="col-6"></div>
                        <div class="col text-end">
                            <button type="button" class="col btn btn-danger" ng-click="editComment.userName = ''; editComment.commentData = '';">
                            Cancel
                            </button>
                            <button type="button" class="col btn btn-primary" ng-click="updateComment(editComment)">                        
                            Edit Post
                            <div ng-show="loadingComment" class="small-loader">
                                <div class="spinner"></div>
                            </div>                            
                            </button>
                        </div>
                    </div> -->

                    <div class="row justify-content-flex-end">
                        <div class="col">
                            <button type="button" class="col btn btn-danger" ng-click="editComment.userName = ''; editComment.commentData = '';">
                                Cancel
                            </button>
                            <button type="button" class="col btn btn-primary" ng-click="updateComment(editComment)">                        
                                EditPost                           
                            </button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>

    </div>

</div>