<div class="row card container" style="margin: 0; padding: 0;" ng-init="start()">
    <div class="col shadow">
        <div class="row postCard">
            <div class="postHeader container-space-between" >
                <!-- <div class="col"> -->
                    <div class="postUser">
                        <span class="material-symbols-outlined">
                            person
                        </span> 
                        <i> {{post["createdBy"]}} </i>
                    </div>
                    <div class="postType">
                        <em>  <!-- style="outline-color: BC4B51;" -->
                            <strong> {{post.type || uppercase}} </strong>
                        </em>
                    </div>
                <!-- </div> -->
            </div>
            <div class="postBody">
                <p id="content" class="card-text">
                    {{post["body"]}}
                </p>
            </div>
            <hr>
            <div class="postFooter container">
                <div class="col"> <!-- LIKE BUTTON -->
                    <div>
                        <button class="commentButton" type="button" id="likeButton" ng-click="likeClicked()">
                            <span class="material-symbols-outlined">
                                favorite
                            </span> 
                            <span> {{ countOfLikes}} </span>
                        </button>
                    </div>

                    <div>
                        <button class="commentButton" type="button" id="commentButton" ng-click="commentClicked()">
                            <span class="material-symbols-outlined">
                                comment<!-- chat_bubble -->
                            </span>
                            <span style="padding-left: 2px;"> {{ countOfComments}} </span>
                        </button>
                    </div>

                    <div>
                        <button class="commentButton" type="button" id="deletebutton" ng-click="delete()">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </button>   
                        <!-- <div class="navItem" >
                            <div class="dots">
                                <span class="material-symbols-outlined">
                                    more_horiz
                                </span>
                                <ul class="navBar">

                                    !!!-- <li class="navItem">
                                        <button>
                                            <div style="padding: 6px;" ng-click="edit()">
                                                Edit
                                            </div>
                                        </button>
                                    </li> --!!!

                                    <li class="navItem">
                                        <button>
                                            <div style="padding: 6px;" ng-click="delete()">
                                                Delete
                                            </div>
                                        </button>
                                    </li>
                                </ul>
                            </div>                        
                        </div>   -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="showLikeForm">
            <form class="textBox" id="likeForm" novalidate>
                <textarea class="form-control textArea" id="commentUserName" placeholder="Enter username" ng-model="like.userName" rows="1" required>                           
                </textarea>
                <button type="button" ng-click="like.postId = post.id; likePost(like);">                        
                    LIKE                                
                </button>
            </form>
        </div>
        <!-- All Comments -->
        <div class="row" id="commentsFeed" ng-show="showComments">
            <div class="row commentForm">
                <div style="background-clip: padding-box;">

                    <ul style="padding: 0;" ng-repeat="comment in commentList track by comment.id">
                        
                        <li style="padding: 0.5em 0em;">
                            
                            <comment-card comment="comment">
                            </comment-card>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <!-- FORM STARTS -->
            <div class="row commentForm">
                <div>
                    <form class="textBox">
                        <textarea class="form-control textArea" id="commentUserName" placeholder="Enter username" ng-model="newComment.userName" rows="1" required>                       
                        </textarea>
    
                        <textarea class="form-control textArea" id="commentData" placeholder="What are your thoughts on this??" ng-model="newComment.commentData" rows="3" required>                       
                        </textarea>
                        
                        <div class="row commentFormFooter">
                            <div class="col-2" ng-click="newComment.userName = ''; newComment.commentData = '';">
                                <button>
                                    Cancel
                                </button>
                            </div>
                            <div class="col-2" ng-click="makeComment(newComment);">
                                <button>
                                    Post
                                </button>
                            </div>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>