* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1500px !important;
}

.first-card {
	margin: 0.5em; 
	padding: 1em; 
}

nav .navItem {
	font-family: 'Acme', sans-serif;
}

.navBar {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	background-color: rgba(255, 255, 255, 0.774);
	z-index: 5;
}

.navItem {
	display:inline-block;
}

.navItem button {
	border: 0;
	width: 100%;
	display: inline-block;
	padding:0 10px;	
	color:#FFF;
	text-decoration:none;
	border-radius: 0.85rem;
	background-color: #BC4B51;
}

.navItem a {
	display:block;
	padding:0 10px;	
	color: black;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
	
}

.navItem ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main nav */
}

.navItem:hover ul {
	display: inherit;
}

.navItem .navBar .navItem {
	width:auto;
	float:none;
	display:list-item;
	position: relative;
}

.navSearch {
	left: 100px;
}

.navSearch form input {
	border-radius: 1rem;
	min-height: 2rem;
}

.navSearch form button {
	border-radius: 1rem;
	width: 5rem;
}

nav a:hover { 
	background-color: #000000;
	color: #fff;
}

/* .navItem {
	white-space: nowrap;
	margin-right: 1rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;	
	flex-basis: 2rem;
	color: white;
} */

post-card .shadow {
	box-shadow: -1px 1px 5px 0 #0714ff !important;
	border-radius: 0.75rem;
	background: 
	/* -webkit-linear-gradient(270deg, var(--bs-orange) 0%, hsla(60, 89%, 72%, 1) 100%); */
	/* -webkit-linear-gradient(90deg, hsl(332deg 69.58% 67.9%) 0%, hsl(176deg 70.81% 66.55%) 100%);  */
	/* linear-gradient(180deg, #efd5ff 0%, #515ada 100%); */
	/* linear-gradient(180deg, #fcff9e 0%, #c67700 100%); */
	/* -webkit-linear-gradient(270deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 88%, 66%, 1) 50%, hsla(288, 55%, 55%, 1) 100%); */
	/* -webkit-linear-gradient(90deg, hsla(57, 100%, 84%, 1) 0%, hsla(280, 84%, 55%, 0.67) 100%); */
	/* -webkit-linear-gradient(90deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 88%, 66%, 1) 100%); */
	-webkit-linear-gradient(90deg, hsla(136, 82%, 72%, 1) 0%, hsla(205, 84%, 36%, 1) 100%);
}

.Card {
	padding: 1rem; 
	/* background-color: #f4efd9;  */
	color: black;
	position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
	border-radius: 0.5rem;
	margin: 1 rem;
}

.Card .postFooter {
	display: none;
}

.Card hr {
	display: none;
}

.post-form {
	border-radius: 1.5em;
	margin: 1.5rem;
}

.postCard {
	background-color: inherit;
	margin: 1rem !important; 
	padding: 0;
	border: none;
	border-top-left-radius: 0.5rem !important;
	border-top-right-radius: 0.5rem !important;
}

.postCard .postHeader .col{
	display: flex;
	align-items: start;
	justify-content: space-between;
}
	
.postUser {
	display: inline-flex;
	align-items: start;
	size: 1.5rem;
	
}

.postUser .material-symbols-outlined {
	font-variation-settings:
  'FILL' 1
}

.postUser i {
	font-family: 'Dekko', cursive;
	font-size: 1.2rem;
}

.postCard .postType {
	border-radius: 1rem;
	min-width: 4rem;
}

.postType {
	border-radius: 1rem;
	min-width: 4rem;
	max-height: 1.5rem;
	left: 5rem;
	font-family: 'Artifika', cursive;
	/* font-size: 20px; */
}

.postCard .postFooter .col {
	display: flex;
	align-items: start;
	justify-content: space-between;
	margin: 0 0.5rem !important;
}

.postHeader {
	margin-bottom: 0;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.postBody {
	flex: 1 1 auto;
	/* background-color: white; */
	padding: 1rem 1rem !important;
	
}

.postCard .navItem .dots{
	max-height: 24px;
	position: static;
}

.dots .material-symbols-outlined {
	font-variation-settings:
  	'FILL' 0,
  	'wght' 700,
  	'GRAD' 50,
  	'opsz' 48;
	position: static;
}

.dots .navBar {
	top: 30px;
	text-align: center;
	
}

.postCard .navItem div {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	text-decoration:none;
}

.postCard .navItem ul {
	display: none;
	position:relative; 
	border-radius: 0.85rem;
	top: 0 !important;  /*the height of the main nav */
}

.postCard .navItem:hover ul {
	display: inherit;
}

.postCard .navItem .navBar .navItem {
	width:auto;
	display:list-item;
}

.textBox {
	border-radius: 0.5rem;
	/* padding-top: 0.5rem; */
}

.textBox button {
	/* text-shadow: #BC4B51; */
	border: none;
	font-size: 20px;
	padding: 0.25rem 0.75rem;
	background-color: #eaccee;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
	font-family: 'Metal Mania', cursive;
	color: black;
	text-shadow: #BC4B51;
}

.textBox button:hover {
	text-shadow: black;
	color: #D8FFE5;
	background-color: #000000;
}

.commentForm {
	margin: 0 !important;
	padding: 0.5rem !important;
	/* background-color: #D8FFE5; */
	/* border-radius: 1rem; */
}


.commentFormFooter {
	justify-content: flex-end !important;
	padding: 0.5rem!important;
	margin: 0 0 0.5rem 0 !important;
}

.postFooter {
	padding: 0 !important;
	margin: 0 1rem;
	border-bottom-left-radius: 0.5rem;	
	border-bottom-right-radius: 0.5rem;
}

.postFooter .navItem {
	text-align: center;
}

div .row.card.container {
	border-bottom-left-radius: 0.5rem;	
	border-bottom-right-radius: 0.5rem;
}


.commentCard {
	background-color: #eaccee;
	margin: 0; 
	padding: 0;
}


.likeButton {
	display: inline-flex;
    padding-top: 0 !important;
	text-align: center;
    text-decoration: none;
    vertical-align: middle;
	border: none;
	padding: 0.5rem;
	background-color: inherit;
	color: red;
	
}

.commentButton {
	display: inline-flex;
	padding-top: 0 !important;
	text-align: center;
    text-decoration: none;
    vertical-align: middle;
	border: none;
	padding: 0.5rem;
	background-color: inherit;
	color: black;
}

 .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 40,
  'opsz' 48;
}

.material-symbols-outlined:hover{
	font-variation-settings:
  'FILL' 1
}

.commentHeader {
	margin-bottom: 0;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: end;
	max-height: 50px;
}

.commentUser {
	display: inline-flex;
	align-items: start;
	size: 1.5rem;
	
}

.commentUser .material-symbols-outlined {
	font-variation-settings:
  'FILL' 1
}

.commentUser i {
	font-family: 'Dekko', cursive;
	font-size: 1.2rem;
}

.commentBody {
	flex: 1 1 auto;
	background-color: white;
	padding: 1rem 1.5rem !important;
	
}

.commentFooter {
	padding: 0 !important;
	margin: 0 1rem;
	border-bottom-left-radius: 0.5rem;	
	border-bottom-right-radius: 0.5rem;
}

.commentFooter .col {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.quoteBox {
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
	margin-top: 0.5rem;
    margin-bottom: 0.5rem;
	background-color: #eaccee;
	border-radius: 1.5rem;
	border: none;
}

.quote {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
    font-size: 1.25rem;
	padding: 1rem;
}

.quoteText {
	margin-bottom: 3rem;
	font-family: 'Pacifico', cursive;
}

.quoteAuthor {
	margin-top: -1rem;
	margin-bottom: 0;
	text-transform: uppercase;
	font-family: 'Aladin', cursive;
	font-style: italic;
}

.secondaryColor {
	background-color: #F4E285, #D8FFE5, #C8E4C1;
}

.primaryColor {
	background-color: #F4A259, #CAB1FF, #C1C8E4, #d8fbff;
}

.feed {
	--primaryColor: lavender;
	--secondaryColor: mistyrose;

	height: 100%;
	background-color: #efeded;
	
}

.card-header {
	size: 1em;
}

.m-0 {
	margin: 0;
}

.m-6 {
	margin: 6;
}
.p-0 {
	padding: 0;
}

ul {
	list-style-type: none;
} 

.material-symbols-outlined .sad{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 50
}

.form-check {
	padding: 0 0.75rem !important;
}

.styled-checkbox {
	position: absolute; /* take it out of document flow */
	opacity: 0; /* hide it */
  
	& + label {
	  position: relative;
	  cursor: pointer;
	  padding: 0;
	}
  
	/* Box. */
	& + label:before {
	  content: '';
	  margin-right: 10px;
	  display: inline-block;
	  vertical-align: text-top;
	  width: 20px;
	  height: 20px;
	  background: white;
	}
  
	/* Box hover */
	&:hover + label:before {
	  background: #eaccee;
	}
	
	/* Box focus */
	&:focus + label:before {
	  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}
  
	/* Box checked */
	&:checked + label:before {
	  background: #eaccee;
	}
	  
	/* Checkmark. Could be replaced with an image */
	&:checked + label:after {
	  content: '';
	  position: absolute;
	  left: 5px;
	  top: 9px;
	  background: black;
	  width: 2px;
	  height: 2px;
	  box-shadow: 
		2px 0 0 black,
		4px 0 0 black,
		4px -2px 0 black,
		4px -4px 0 black,
		4px -6px 0 black,
		4px -8px 0 black;
	  transform: rotate(45deg);
	}
  }

.textArea {
    border: 0 !important;
    /* margin: 0.25rem 0; */
    padding: 0.75rem 1.5rem !important;
}

.newUsersCard {
	flex-direction: column;
	border-radius: 0.5rem;
	box-shadow: 0 0 15px rgba(0,0,0, 0.5);
	padding: 1em;
	margin: 0.2rem !important;
	background: -webkit-linear-gradient(90deg, hsla(50, 68%, 93%, 1) 0%, hsla(18, 88%, 66%, 1) 50%, hsla(288, 55%, 55%, 1) 100%);
}

.newUsersCard h4 {
	text-align: center;
}

.newUsersCard .newUserCardBody {
	padding: 0.5rem 1rem;
}

.newUserCardBody .newUser {
	display: flex;
	/* box-shadow: 0px 0px 10px red; */
	margin-bottom: 0.5rem;
}

.newUserCardBody .newUser img {
	position: relative;
	top: 10px;
	height: 40px;
	width: 40px;

}

.newUserCardBody .newUser p {
	margin: 0.25rem 1rem !important;
}

.newUserCardBody .newUser .name {
	text-transform: uppercase;
	font-weight: bold;
}



  /* .styled-checkbox:hover + lable:before {
	background-color: magenta !important;
  } */